[Desktop Entry]
Name=RustDesk
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=rustdesk
Exec=consolehelp %u
Icon=consolehelp
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
