[Desktop Entry]
Name=Консоль Помощь
NoDisplay=true
MimeType=x-scheme-handler/consolehelp;
TryExec=consolehelp
Exec=consolehelp %u
Icon=consolehelp
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
